<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<title>
    KIWIPIN
</title>
<!-- favicon -->
<link rel="icon" href="<%- cdn %>/favicon.png">
<link rel="icon" href="<%- cdn %>/favicon.ico">
<script src="<%- cdn %>/assets/js/jquery-3.7.1.min.js"></script>
<link rel="stylesheet" href="<%- cdn %>/assets/css/reset.css">
<link rel="stylesheet" href="<%- cdn %>/assets/css/bootstrap-grid.css">
<link rel="stylesheet" href="<%- cdn %>/assets/css/select2.min.css" />
<link rel="stylesheet" href="<%- cdn %>/assets/css/animate.min.css" />
<link rel="stylesheet" href="<%- cdn %>/assets/css/www_zh_TW.css?v=250708">
<script src="<%- cdn %>/assets/js/lenis.min.js"></script>
<!-- <script src="<%- cdn %>/assets/js/jquery-3.6.0.min.js"></script> -->
<script src="<%- cdn %>/assets/js/jquery.sidr.min.js"></script>
<script src="<%- cdn %>/assets/js/wow.min.js"></script>
<script src="<%- cdn %>/assets/js/translate.js"></script>
<link rel="stylesheet" data-href="<%- cdn %>/assets/css/www_{{LANG}}.css?v=250708">

<script>
    function initFunction(jsonObj) {
        renderInfo(jsonObj);
    }
</script>